apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: elibrary
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/devops-fmi/bun-server-demo.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: elibrary
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  revisionHistoryLimit: 10
