apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: elibrary

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - pdb.yaml

commonLabels:
  app: elibrary-server
  managed-by: argocd

commonAnnotations:
  argocd.argoproj.io/compare-result: "true"

replicas:
  - name: elibrary-server
    count: 3

images:
  - name: 647475475507.dkr.ecr.us-east-1.amazonaws.com/elibrary-fmi-ecr-image-repo
    newTag: latest
