apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: elibrary

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - pdb.yaml
  - load-balancer.yml

commonLabels:
  app: elibrary-server
  managed-by: argocd

commonAnnotations:
  argocd.argoproj.io/compare-result: "true"

replicas:
  - name: elibrary-server
    count: 3

images:
  - name: 607402046977.dkr.ecr.eu-central-1.amazonaws.com/elibrary-fmi-ecr-image-repo:latest
    newTag: latest
